<div class="width-screen">

      <div class="row row-cols-2 fadeIn">
        <div class="col"> 
          <h2 class="margin-top-20">Tabla de Tareas</h2>
        </div>
        <div class="row margin-top-20">
          <div class="col-md-9" style="margin-top: 5px;">
            <div class="input-group sb-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ optionSelected }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a *ngFor="let option of searchOptions; let i=index" class="dropdown-item text-center"
                  (click)="selectedOption(option)">{{ option }}</a>
                </div>
              </div> 
              <input type="text" class="form-control" aria-label="Valor a buscar" style="max-width: 300px;" 
              (keyup.enter)="search('Buscando', valueToSearch.value)" #valueToSearch>
              <button class="btn btn-primary"
              (click)="search(optionSelected, valueToSearch.value)">Buscar</button>
            </div> 
          </div>
          <!-- <div class="col-md-3">
            <button class="btn btn-primary float-right"
            (click)="openItacs()"
            >Tabla de ITACs</button>  
          </div>  -->     
          <div class="col-md-3 text-right align-self-center">
            <button class="btn btn-danger"
            type="button" (click)="back()">Atrás</button>
          </div>         
        </div>
      </div>
  
      <nav class="margin-top-20" aria-label="..." *ngIf="numberPaginations > 1 && !loading">
        <ul class="pagination">
          <li *ngIf="currentDisplayed > 1" class="page-item disabled"
            (click)="openPreviousPage()">
            <a class="page-link"          
            tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
  
          <li *ngFor="let n of [] | range:numberPaginations; let i=index" 
            class="page-item" routerLinkActive="active">
            <a class="page-link" (click)="openPage(i)" [routerLink]="['/tareasrange', i+1]">{{ i+1 }}</a></li>

          <li *ngIf="!lastPage" class="page-item disabled"
          (click)="openNextPage()">
            <a class="page-link" >Siguiente</a>
          </li>
        </ul>
      </nav>
  
    <hr>  
  
    <!-- <div class="row fadeIn">
        <div class="col-md-12 text-right">
            <button [routerLink]="['/tarea', 'nuevo']" routerLinkActive="router-link-active" 
            type="button" class="btn btn-outline-primary">
                Nuevo héroe
            </button>
        </div>
    </div>
  
    <br> -->
  
    <div class="row fadeIn">
        <div class="col-md-12">
          <div class="table-responsive">
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Población</th>
                      <th scope="col">Calle</th>
                      <th scope="col">Portal</th>
                      <th scope="col">Abonado</th>  
                      <th scope="col">Serie Levantado</th>
                      <th scope="col">Lectura Levantado</th>   
                      <th scope="col">Serie Instalado</th>   
                      <th scope="col">Lectura Instalado</th>                           
                      <th scope="col">Estado</th>
                      <th scope="col">Acción</th>  
                    </tr>
                  </thead>
                  <tbody #tablerows>
                    <tr *ngFor="let tarea of tareas; let i=index">
                      <th *ngIf="tarea.NUMIN" scope="row">{{ ((currentDisplayed-1) * numberDisplayed) + i+1 }}</th>
                      <td>{{ tarea.MUNICIPIO }}</td>
                      <td>{{ tarea.CALLE }}</td>
                      <td>{{ tarea.NUME }}</td>                
                      <td>{{ tarea.Numero_de_ABONADO }}</td>    
                      <td>{{ tarea.SERIE }}</td>    
                      <td>{{ tarea.LECT_LEV }}</td>  
                      <td>{{ tarea.seriedv }}</td>   
                      <td>{{ tarea.LECTURA_CONTADOR_NUEVO }}</td>            
                      <td>{{ tarea.status_tarea | displaystatus }}</td>
                      <td>
                        <div class="row">
                          <button [routerLink]="['/tarea', tarea.id]" class="btn btn-primary">Abrir</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
    
                
          </div>
          <div *ngIf="tareas.length == 0 && !loading"
              class="alert alert-info" role="alert">
              <strong>No hay</strong> tareas que mostrar
          </div>
    
          <div *ngIf="loading"
          class="alert alert-warning" role="alert">              
          <div class="spinner-border float-center" style="width: 1rem; height: 1rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <strong>  Cargando tareas... </strong> por favor espere
        </div>
      </div>
    </div>
  
  </div>