<!-- Image and text -->
<nav class="navbar" style="background-color: #368Dce; color: white;">
    <a class="navbar-brand" href="#" style="color: white;">
      <!-- <img src="assets/img/app_icon.png" width="32" height="23" class="d-inline-block align-self-center" alt="" loading="lazy"> -->
      Mi Ruta
    </a>
    <div class="form-inline">
        <img *ngIf="cliente.foto && (cliente.foto!='null')" [src]="urlFolder + cliente.foto" width="38" height="38" 
        class="rounded-circle d-inline-block align-self-center" alt="" loading="lazy"
        onError="this.src='assets/img/noimage.png'"
        style="margin-right: 10px;">
        <button class="btn btn-outline-light" type="button"
         (click)="logOut()">Salir</button>
    </div>
  </nav>