
<div *ngIf="itac" class="width-screen margin-top-20 animated fadeIn">
  <div class="row row-cols-2 fadeIn">
    <div class="col"> 
        <h2 class="margin-top-20 color-blue-app">ITAC</h2>
    </div>
    <!-- <div *ngIf="valid_coords" class="col"> 
        <button class="btn btn-primary float-right margin-top-20"
        [routerLink]="['/mapasMapboxItac', id]"
        >Geolocalización</button>
    </div> -->
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="margin-top-20">
          <div class="row row-cols-4">
            <div class="col"> 
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text background-color-blue-app" id="inputGroup-sizing-sm">Sector P</span>
                  </div>
                  <input value="{{ itac.zona }}" type="text" class="form-control" 
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>            
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text background-color-blue-app" id="inputGroup-sizing-sm">Código de Emplazamiento</span>
                  </div>
                  <input value="{{ itac.codigo_itac }}" type="text" class="form-control" 
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>  
            </div>
            <div class="col">              
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text background-color-blue-app" id="inputGroup-sizing-sm">Dirección</span>
                  </div>
                  <input value="{{ itac.itac }}" type="text" class="form-control" 
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>  
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text background-color-blue-app" id="inputGroup-sizing-sm">Puntuación</span>
                  </div>
                  <input value="{{ itac.puntuacion }}" type="text" class="form-control" 
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>  
            </div>
          </div>
      </div>

      <div class="margin-top-20">
          <div class="row row-cols-2">
              <div class="col"> 
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text background-color-blue-app">Acceso</span>
                      </div>
                      <textarea class="form-control font-size-12" aria-label="With textarea">{{ itac.acceso }}</textarea>
                  </div>
              </div>
              <div class="col"> 
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text background-color-blue-app">Descripción</span>
                      </div>
                      <textarea class="form-control font-size-12" aria-label="With textarea">{{ itac.descripcion }}</textarea>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div *ngIf="valid_coords"  class="col-md-2 text-center justify-content-center align-items-center">
      <app-mapa-map-box-itac-mini [routerLink]="['/mapasMapboxItac', id]"></app-mapa-map-box-itac-mini>
    </div>   
  </div>

  <div *ngIf="itac.audio_detalle" class="row text-center justify-content-center align-items-center"
    style="margin-top: 30px;">
   <div class="col">
     <audio controls [src]="dirFolder + itac.audio_detalle | domseguro: 'https://mywateroute.com/Mi_Ruta/'"
      type='video/3gpp codecs="mp4v.20.8, samr"'>
       Your browser does not support the <code>audio</code> element.
     </audio>
   </div>
  </div>

  <div class="width-screen margin-top-40">
    <div class="row row-cols-4">
      <div class="col">
        <div *ngIf="itac.foto_1" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_1" class="card-img-top" alt="Foto 1"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 1</h5>
              <p *ngIf="itac.descripcion_foto_1" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_1 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_1]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_2" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_2" class="card-img-top" alt="Foto 2"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 2</h5>
              <p *ngIf="itac.descripcion_foto_2" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_2 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_2]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_3" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_3" class="card-img-top" alt="Foto 3"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 3</h5>
              <p *ngIf="itac.descripcion_foto_3" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_3 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_3]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_4" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_4" class="card-img-top" alt="Foto 4"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 4</h5>
              <p *ngIf="itac.descripcion_foto_4" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_4 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_4]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="width-screen margin-top-20">
    <div class="row row-cols-4">
      <div class="col">
        <div *ngIf="itac.foto_5" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_5" class="card-img-top" alt="Foto 5"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 5</h5>
              <p *ngIf="itac.descripcion_foto_5" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_5 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_5]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_6" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_6" class="card-img-top" alt="Foto 6"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 6</h5>
              <p *ngIf="itac.descripcion_foto_6" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_6 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_6]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_7" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_7" class="card-img-top" alt="Foto 7"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 7</h5>
              <p *ngIf="itac.descripcion_foto_7" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_7 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_7]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="itac.foto_8" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_8" class="card-img-top" alt="Foto 8"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 8</h5>
              <p *ngIf="itac.descripcion_foto_8" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_8 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_8]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
      </div>           
    </div>
</div>

<div class="width-screen margin-top-20">
    <div class="row row-cols-1">
      <div class="col">
        <div *ngIf="itac.foto_9.includes('jpg')" class="card" style="width: 16rem;">
            <img [src]="urlFolder + itac.foto_9" class="card-img-top" alt="Foto 9"
            onError="this.src='assets/img/noimage.png'">
            <div class="card-body">
              <h5 class="card-title text-center">Foto 9</h5>
              <p *ngIf="itac.descripcion_foto_9" class="card-text text-center  font-size-12">{{ itac.descripcion_foto_9 }}</p>    
              <a [routerLink]="['/zoomImage', urlFolder + itac.foto_9]" class="btn btn-outline-primary width-screen">Mostrar</a>
            </div>
        </div>
    </div>
</div>
    

</div>